.DS_Store
.metadata/
Servers/
Pixel Emporium/.DS_Store
Pixel Emporium/build/.DS_Store
Pixel Emporium/WebContent/.DS_Store
Pixel Emporium/build/.DS_Store
Pixel Emporium/WebContent/.DS_Store
Pixel Emporium/WebContent/WEB-INF/.DS_Store
